services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=yourStrong(!)Password
    ports:
      - "1433:1433"

  backend:
    build:
      context: ./back
      dockerfile: Dockerfile
    ports:
      - "3000:3000" # Mapeamos el puerto 3000 del contenedor al 3000 de tu PC
    depends_on:
      - db
    environment:
      - DB_SERVER=db
      - DB_PASSWORD=yourStrong(!)Password
      - DB_NAME=AA1
      - ASPNETCORE_URLS=http://+:3000 # IMPORTANTE: Obliga a C# a escuchar en el 3000
    volumes:
      - ./back/CreateDB.sql:/app/CreateDB.sql 

  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - "8080:5173"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:3000/api