services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=yourStrong(!)Password
    ports:
      - "1433:1433"

  backend:
    build:
      context: ./back
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - DB_SERVER=db
      - DB_PASSWORD=yourStrong(!)Password
      - DB_NAME=AA1
    # Este volumen permite que el back acceda al script si decides ejecutarlo vía código
    volumes:
      - ./back/CreateDB.sql:/app/CreateDB.sql 

  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend